body {font-size:20px;margin:0px}
img {height: 100%; width: 100%; }
.main{}
.n_container{display:flex;padding:5px;}
.welcome{display:flex;background-color:#B0E0E6;height:300px;padding:0px;font-size:40px;align-items:center;justify-content:center}
.nav{padding:2px;flex:auto}
.pic_container{margin:0px auto;width:1200px;margin-top:50px;display:flex;flex-wrap:wrap;justify-content: center;}
.pic_inner{flex:none;margin-bottom: 0px;display:flex;flex-direction: column;margin:10px;}
.textImage{height:30px;background-color: #B0E0E6;width:100%;font-size: 15px;display:flex;justify-content:center;align-items:center;}
.pic{display:flex}
.div_desc{background-color:#B0E0E6;margin:0px;text-align:center}
.lb{visibility:hidden}
.resortImage{width:280px;height:280px;}
.menu li a {
  margin:0px;
  padding: 0px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  border-bottom: 3px solid #ffffff;
}
#burger{display:none}
.menu{position:absolute;top:0;right:0;visibility:hidden;list-style-type:none}
#burger:checked ~ .menu{visibility:visible}
#box1{display:flex;flex:none;width:125px;align-items: center;}
#box2{flex:auto}
#ham{flex:none;visibility: hidden}
#box3{display:flex;flex:none;width:300px}
#btn{border: 3px solid;width:100px;height:30px;margin:0px auto}
@media (max-width:1200px){
.pic_container{width:90%}
.resortImage{width:100%;height:100%;}
.pic_inner{width:45%;margin:0px auto;margin-bottom:10px;}
}
@media (max-width:600px) {
.pic_container{width:90%}
.pic_inner{width:90%;margin:0px auto;margin-bottom:10px;}
.nav{display:none}
.lb{visibility:visible;position:absolute;right:5px;top:-3px}
#box3{width:30px}
}